* {
    color: black;
    font-family: Arial, Helvetica, sans-serif
}

button {
    float: right;
    margin: 10px;
}

.dropdown-menu {
    width: 100vw;
    text-align: center;
}

.dropdown-item {
    padding-left: 47vw;
    padding-right: 47vw;
}

.dropdown-item:hover {
    background-color: lightgray;
}

h1 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.name {
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 180%;
}

.box{
    background-color: grey;
    margin: 10px auto;
    padding: 5px 25px 25px 25px;
}

.navbar-header .navbar-brand {
    color: black;
    font-weight: bold;
}